<strong>Olá, {{ student }}</strong>
<p> Sua Matricula foi efetuada com sucesso! Segue os dados da mesma: </p>
<p>
  <strong>Plano:</strong> {{ plan }} .<br />
  <strong>Valor Total:</strong> {{ price }} .<br />
  <strong>Duração:</strong> {{ duration }} .<br />
  <strong>Data Termino:</strong> {{ end_date }} .<br />
</p>
